@import "tailwindcss";

@layer base {
    h2 {
        @apply text-2xl;
    }

    button,
    a,
    [role="button"] {
        @apply underline decoration-dotted underline-offset-[6px] hover:decoration-solid cursor-pointer select-none;
    }
}

@theme {
    --color-background: theme("colors.black");
    --color-foreground: theme("colors.white");
    --color-secondary: theme("colors.neutral.400");

    @keyframes blink {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

body {
    @apply bg-background text-foreground;
}
