@layer base {
    body {
        font-family: "Roboto Mono Variable", monospace;
        font-variation-settings: "wght" 400;
    }
}

@keyframes credits-scroll {
    from {
        transform: translateY(37vh);
    }
    to {
        transform: translateY(calc(0px - var(--credits-height)));
    }
}
